<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>207865824924-kkiaufr28lmfh51r01ocd7efgqtjf63o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.207865824924-kkiaufr28lmfh51r01ocd7efgqtjf63o</string>
	<key>API_KEY</key>
	<string>AIzaSyDFLRa3W9OdWHQLIMkdc_xFST7hfDM287s</string>
	<key>GCM_SENDER_ID</key>
	<string>207865824924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dogi.woof</string>
	<key>PROJECT_ID</key>
	<string>woof-ad9a6</string>
	<key>STORAGE_BUCKET</key>
	<string>woof-ad9a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:207865824924:ios:41b3e6c8cbd59724840f59</string>
</dict>
</plist>